#zoom-control {
	width: 60px;
	position: absolute;
	top: 0;
	left: 245px;

	& > div {
		width: 25px;
		height: 25px;
		position: absolute;
		margin: 10px 0 0 0;
		padding: 0;
		text-align: center;
		@include color-text("light", "icon");

		i.material-icons {
			line-height: 25px;
		}
	}

	#zoom-in {
		left: 35px;
	}
}