@import 'extras';

#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	&-canvas {
		width: 100%;
		height: 100% - 13%;
		position: absolute;
	}

	&-action {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 12px;

		@import 'address_manager';

		@import 'data_filter';

		@import 'zoom_control';

		@import 'map_actions';
	}
}